# ─── Base de datos ────────────────────────────────────────────
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=tu_password_aqui

# ─── Gateway REST ─────────────────────────────────────────────
GATEWAY_PORT=3000

# ─── Puertos gRPC de cada nodo ────────────────────────────────
GRPC_PORT_INGENIERIA=5001
GRPC_PORT_TECNOLOGICA=5002
GRPC_PORT_ARTES=5003
